/* Tag Styles */
body {
    font-size: 16px;
    line-height: 24px;
    background: #F8FAFF;
}

a {
    color: #55CBD2;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover {
    color: #888;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

.center {
    text-align: center;
}

.btn-info {
    float: right;
}

.current span {
    color: #55CBD2;
}


/* === Top Navigation === */
.active {
    background: #74B9B9 !important;
    color: white;
}

.navbar {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding: 10px 15px;
    margin: 5px 5px;
    border-radius: 4px;
}

/* === Header Image === */
.header-image {
    margin-bottom: 30px;
    width: 100%;
}

/* === Left Side === */
.side-left {
    background: #528C7C;
    box-shadow: 3px 3px grey;
    color: white;
    padding: 30px;
    letter-spacing: .9px;
}

@media (min-width: 800px) {
    .side-left {
        height: 1248px;
    }
}

/* === Footer === */
footer {
    margin-top: 40px;
    padding: 20px;
    background: black;
}

footer h3 {
    color: #dadada;
    margin-bottom: 20px;
}

.footer-contact {
    color: white;
}

#social-icons {
    font-size: 22px;
}

#social-icons .btn-group {
    color: #55CBD2;
    margin-right: 15px;
}

#social-icons .btn-group:hover {
    color: #ffffff;
}

.copyright {
    color: #fff;
    padding: 20px 0 10px 0;
    background-color: rgb(23, 23, 23);
}
